@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    
}

body{
    background-color: #161616;
    overflow: hidden;
}



/* +++++ HEADER +++++ */

.container{
    max-width: 1500px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.container .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 30px;
}

.container .header::before{
    content: 'ADIDAS';
    position: absolute;
    top: 65%;
    left: 65%;
    color: rgba(180, 164, 164, 0.603);
    opacity: 0.2;
    font-size: 150px;
    z-index: -1;
}

.container .header i{
    cursor: pointer;
    color: #fff;
}
.container .header p{
    color: #fff;
    font-size: 25px;
}

.container .header .logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
/* .container .header .logo2{
    height: -1px;
} */
.container .header .line{
    display: block;
    background-color: #fff;
    width: 45px;
    height: 2px;
    margin-bottom: 4px;
    margin-right: 4px;
}


/* +++++ ROW-SECTİON 1-2 +++++ */

.container .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container .col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.container .row .col-2 h1{
    color: #fff;
    font-size: 75px;
    line-height: 60px;
    letter-spacing: 5px;
    margin: 25px 0;
}
.container .row .col-2 p{
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 25px;
}
.container .row .col-2 .btn{
    display: inline-block;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    background-color: orange;
    padding: 12px 30px;
    border-radius: 35px;
    margin-top: 30px;
    transition: 1s all ease;
}
.container .row .col-2 .btn:hover{
    background-color: red;
}

/* +++++ RING-SECTİON +++++ */

.col-2 .ring img{
    width: 100%;
    max-width: 600px;
}
#circle-ring{
    padding-left: 200px;
    padding-top: 80px;
}

.col-2 .ring{
    position: relative;
    width: 550px;
    height: 550px;
    background-color: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.col-2 .ring:before{
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #fff12e;
    border-right: 3px solid #fff12e;
    border-radius: 50%;
    z-index: -1;
    /* animation: returnCircle;
    animation-timing-function: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
    
    /* ---yukarıdaki kodların tek satırda yazılmış hali aşağıdadır.--- */

    animation: returnCircle 7s linear infinite;
}

.col-2 .ring .circle{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 4px;
    background-color: transparent;
    transform-origin: left;
    animation: return 7s linear infinite;
    z-index: -1;


}
.col-2 .ring .circle::before{
    content: "";
    position: absolute;
    top: -6px;
    right: -9px;
    width: 15px;
    height: 15px;
    background-color: #fff12e;
    border-radius: 50%;
    box-shadow: 0 0 20px #fff12e;
    z-index: -1;
}

.col-2 .ring2{
    position: absolute;
    top: 7.5%;
    left: 56.5%;
    width: 700px;
    height: 700px;
    background-color: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.col-2 .ring2:before{
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-bottom: 3px solid #fff12e;
    border-left: 3px solid #fff12e;
    border-radius: 50%;
    animation: returnCircle2 7s linear infinite;
}

.col-2 .ring2 .circle2{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 4px;
    background-color: transparent;
    transform-origin: left;
    animation: return2 7s linear infinite;
}
.col-2 .ring2 .circle2::before{
    content: "";
    position: absolute;
    top: -6px;
    right: -9px;
    width: 15px;
    height: 15px;
    background-color: #fff12e;
    border-radius: 50%;
    box-shadow: 0 0 20px #fff12e;
    z-index: -1;
}





@keyframes returnCircle {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
@keyframes return {
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(405deg);
    } 
    
}

@keyframes returnCircle2 {
    0%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(-450deg);
    }
    
}
@keyframes return2 {
    0%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(-405deg);
    } 
    
}
